html {
  font-size: 100%; }

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif; }

header div h5 {
  padding: 5px; }

.contenedor-imagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-repeat: no-repeat;
  margin-top: 5px;
  width: 100%;
  height: 500px;
  background-image: url("../img/biografia.png");
  background-size: contain;
  align-items: end; }

.contenedor-mvs, .contenedor-mvs-d {
  font-size: 20px;
  color: white;
  background-color: #292929;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: 50px; }

.contenedor-mvs-d {
  height: 100px; }

.mvs, .mvs-d {
  background-color: brown;
  text-align: center;
  align-content: center;
  width: 220px;
  height: 30px;
  font-size: 20px; }

.mvs-d {
  height: 60px;
  font-size: 12px; }

.descripcion-imagen {
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 35px;
  border: solid 1.5px white;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px; }

.descripcion-imagen:hover {
  background: red; }

/* Quien Somos */
.nuestros-servicios {
  display: flex;
  flex-direction: row;
  justify-content: center; }

/* biografia */
.biografia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../img/biografia.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 80%;
  overflow: auto;
  color: black;
  /* margenes */
  margin: 10px;
  padding: 20px;
  /* bordes */
  border: solid 5px black;
  border-radius: 20px; }

.contenedor-servicios {
  flex-direction: row;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height: 445px;
  background-color: white;
  justify-content: space-around;
  align-content: center; }
  .contenedor-servicios-int {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-flow: wrap;
    width: 200px;
    height: 370px;
    background-color: blue;
    border-radius: 10px; }

.contenedor-servicios-int p {
  justify-content: center;
  width: 200px;
  color: white;
  background-color: grey; }

.contenedor-servicios-int:hover {
  background-color: rgba(128, 128, 128, 0.75); }

/* cambiar color por etiqueta */
h6 {
  color: red; }

footer p {
  color: mediumblue; }

/* Cambiar color por clases */
.t-color-red {
  color: red; }

.colorCeleste {
  color: skyblue; }

.colorRojo {
  color: red; }

/* Cambiar color de fondos */
.fondoNegro {
  background-color: black; }

.fondogris {
  background-color: gray; }

/* hacer una id unica  */
#tituloContacto {
  color: orange; }

#rojo {
  color: red; }

/* tener el color del texto negro aunque se cambie */
a {
  color: black;
  text-decoration: black; }

/* pagina proyectos */
.contenedor-collage {
  width: 100%;
  height: 100vh;
  background-color: gray;
  color: white;
  display: grid;
  /* grid-template-columns: 50% 25% 25%;  se usa con porcentajes*/
  /*grid-template-columns:2fr 1fr 1fr;  se usa como fraccion) */
  grid-template-columns: repeat(4, 20%);
  /*se usa como repetidor */
  grid-template-rows: repeat(4, 20%);
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas: "img img-2 img-2 img-7" "img img-3 img-6 img-7" "img img-4 img-6 img-7" "img img-5 img-5 img-7";
  justify-content: center;
  align-content: center; }

.img-1 {
  background-image: url(../img/img-1.png);
  grid-area: img; }

.img-2 {
  background-image: url(../img/img-2.png);
  grid-area: img-2; }

.img-3 {
  background-image: url(../img/img-3.png);
  grid-area: img-3; }

.img-4 {
  background-image: url(../img/img-4.png);
  grid-area: img-4; }

.img-5 {
  background-image: url(../img/img-5.png);
  grid-area: img-5; }

.img-6 {
  background-image: url(../img/img-6.png);
  grid-area: img-6; }

.img-7 {
  background-image: url(../img/img-7.png);
  grid-area: img-7; }

.collage-imagen {
  background-color: green; }

.pie-pagina {
  display: flex;
  background-color: red;
  width: 100%;
  height: 250px; }

.nav-boos-link, .nav-boos-link-contacto {
  border: solid grey 1px;
  background-color: white; }

.nav-boos-link :hover {
  background-color: rgba(128, 128, 128, 0.75); }

.nav-boos-link-contacto :hover {
  background-color: red; }

.contenedor-contacto {
  justify-content: center;
  flex-flow: row;
  display: flex;
  width: 100%;
  height: 1000px;
  background-color: white; }
  .contenedor-contacto-int {
    justify-content: center;
    display: grid;
    width: 60%;
    height: 900px;
    background-color: white;
    border-radius: 20px;
    border: solid 1.5px black; }

.encabezado {
  background-image: url("../img/fondo-blanco.png");
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 140px; }
  .encabezado-principal {
    display: flex;
    align-content: center;
    align-items: center; }
  .encabezado-Logo-Img {
    width: 76px;
    height: 50px;
    color: black;
    margin: 20px; }
  .encabezado-fijo {
    position: sticky;
    top: 0; }
  .encabezado-eslogan {
    display: flex;
    align-content: center;
    align-items: center;
    color: black;
    text-decoration: none; }

.navegador {
  flex-basis: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  align-content: center; }
  .navegador-enlace {
    text-decoration: none;
    color: grey;
    border: solid 1px gray;
    padding: 10px 60px 10px 60px; }
  .navegador-contacto {
    text-decoration: none;
    color: grey;
    border: solid 1px gray;
    padding: 10px 60px 10px 60px; }

.navegador-enlace:hover {
  background: rgba(46, 46, 46, 0.192); }

.navegador-contacto:hover {
  color: white;
  background: rgba(255, 0, 0, 0.9); }

@media screen and (max-width: 959px) {
  .navegador {
    flex-direction: column; }
  .contenedor-imagen {
    height: 400px; } }
